body{
    background: hsl(212, 45%, 89%);
}
.attribution { 
    font-size: 11px; 
    text-align: center;
   }

  .attribution a { 
    color: hsl(228, 45%, 44%);
   }
  .relleno{
    height: 50px;
  }
  h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700; 
    text-align: center;
    font-size: 15px;
  }
  p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400; 
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 10px;
  }
  .flex-container{
  background: white;
  padding: 20px;
  display:  flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  width: 275px;
  height: 375px;
  border-radius: 15px;
  margin: 0 auto;
}
img{
width: 275px;
height:  275px;
margin: 5px 0 0 0;
border-radius: 20px;
}

